<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'font-awesome.min', plugin: 'issue_timeline' %>
    <%= stylesheet_link_tag 'style', plugin: 'issue_timeline' %>
    <%= stylesheet_link_tag 'timelify', plugin: 'issue_timeline' %>

    <%= javascript_include_tag 'jquery.timelify', plugin: 'issue_timeline' %>
<% end %>
<div class="container">
  <%= link_to 'Native history', :back %>
  <div class="timeline">
    <h2>History</h2>
    <ul class="timeline-items">
      <% @journals.each_with_index do |journal, i| %>
          <li class="timeline-item <%= "inverted" if (i+1).even? %>">
            <% columns = journal.attributes.keys %>
            <% if columns.include?('created_on') && columns.include?('user_id') %>
                <p><%= authoring journal.created_on, journal.user, :label => :label_updated_time_by %></p>
                <% columns.delete('created_on'); columns.delete('user_id') %>
                <hr>
            <% end %>
            <% columns.each do |column| %>
                <p><%= "#{column}: #{journal[column]}" %></p>
                <hr>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $('.timeline').timelify({
    animLeft: "fadeInLeft",
    animCenter: "fadeInUp",
    animRight: "fadeInRight",
    animSpeed: 600,
    offset: 150
  });
</script>