<table>
  <tbody>
  <tr>
    <th>Set columns to show</th>
  </tr>
  <% Journal.column_names.each do |column| %>
      <tr>
        <td>
          <label style="text-align: left; margin: 0">
            <%= check_box_tag "settings[#{column}]", true, @settings[column] %>
            <%= column %>
          </label>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>